#Tom {
  width: 170px;
  height: 150px;
  display: block;
  margin: auto;


}

body {
  background-color: blue;
  font-family: fantasy;
  color: yellow;
}



h1 {

  background-color: red;
  font-style: oblique;
  font-family: cursive;

}
